<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar-user.ejs') %>
<br>
<div class="card page-card">
    <div class="row justify-content-md-center mb-3">
        <h1 class="card-title text-center" style="color:rgb(0, 16, 87); font-weight:bold">
            My Cart
        </h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2">
            <%- include('../../partials/alerts.ejs') %>
            <h1>TO BE ADDED</h1>
        </div>
    </div>
</div>
</body>
<%- include('../../partials/footer.ejs') %>
