<%- include('header.ejs') %>

<div class="d-flex align-items-center justify-content-center">
    <div class="card w-50 mx-auto my-auto">
        <br>
        <div class="row justify-content-md-center mb-3">
            <h1 class="card-title text-center" style="color:rgb(0, 16, 87); font-weight:bold">
                Welcome to GroShop!
            </h1>
        </div>

        <div class="row justify-content-md-center">
            <form action="/auth/register" method="post">
                <div>
                    <label for="account-type">Select account type to register as:</label>
                    <select id="account-type" name="account-type">
                      <option value="user">User</option>
                      <option value="employee">Employee</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group mb-3">
                    <label for="passwordConfirmation" class="form-label">Confirm Password</label>
                    <input class="form-control" type="password" name="passwordConfirmation">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>


<%- include('footer.ejs') %>
