<%- include('../partials/header.ejs') %>
<body>

<%- include('../partials/navbar-user.ejs') %>
<div id="user-home-page">
    <div class="container justify-content-center">
        <%- include('../partials/alerts.ejs') %>
        <h1>HOME PAGE...</h1>
    </div>
</div>

</body>
<%- include('../partials/footer.ejs') %>
